<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles.css">

    <title>Document</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation__title">JACKETS</div>

      <div class="navigation__search">
        <div class="navigation__filter">
          <label class="navigatin__label">FILTER BY</label>
          <select class="navigation__select">
            <option>Jackets</option>
            <option>Jackets2331</option>
            <option>Jackets221</option>
          </select>
        </div>

        <div class="navigation__sort">
          <label class="navigation__label">SORT BY</label>
          <select class="navigation__select">
            <option>by price</option>
            <option>by date</option>
          </select>
        </div>
      </div>
    </nav>
    <section class="products">
      <div class="product">
        <span class="product__sale"></span>
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/13142100261_1_1501x2100_300_RGB_1024x1024.jpeg?v=1445623386"
            alt=""
          />
        </div>
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">150$</div>
          <div class="product__avail">SOLD OUT</div>
        </div>
      </div>
      <div class="product">
        <span class="product__sale"></span>
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/13142100261_1_1501x2100_300_RGB_1024x1024.jpeg?v=1445623386"
            alt=""
          />
        </div>
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">150$</div>
          <div class="product__avail">SOLD OUT</div>
        </div>
      </div>
      <div class="product">
        <span class="product__sale"></span>
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/13142100261_1_1501x2100_300_RGB_1024x1024.jpeg?v=1445623386"
            alt=""
          />
        </div>
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">150$</div>
          <div class="product__avail">SOLD OUT</div>
        </div>
      </div>
      <div class="product">
        <span class="product__sale"></span>
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/13142100261_1_1501x2100_300_RGB_1024x1024.jpeg?v=1445623386"
            alt=""
          />
        </div>
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">150$</div>
          <div class="product__avail">SOLD OUT</div>
        </div>
      </div>
      <div class="product">
        <span class="product__sale"></span>
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/13142100261_1_1501x2100_300_RGB_1024x1024.jpeg?v=1445623386"
            alt=""
          />
        </div>
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">150$</div>
          <div class="product__avail">SOLD OUT</div>
        </div>
      </div>
    </section>
  </body>
</html>
