* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: row;
}

.navigation {
    font-size: 16px;
    font-family: Karla,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #666;
    line-height: 1.375;
}

.product__img {
    max-width: 100%;
    border: 0;
}

.products {
    position: relative;
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 12.5px;
    border-color: #f7f7f7;
    border-style: solid;
    border-width: 0 0 1px;
    color: #666;
    z-index: 1;
}

